.address {
    .p-dialog {
        width: 30%;

        .p-inputtext {
            width: 100%;
        }
        form {
            margin-top: 10px;
        }
        .input {
            margin-top: 10px;
        }
        .p-button {
            width: 100%;
            background: #8B0000;
        }
    }
}