<div class="customise-pizza">
    <p-dialog header="" modal="modal"[(visible)]="display" (onHide)="hide()">

        <div class="row img">
            <div class="col-lg-12">
                <img src="{{_selectedCustomisePizza.imageLink}}" alt="Ms dhoni" width="100%" height="200rem" /> </div>
        </div>
        <div class="row name">
            <div class="col-lg-12">
                <h5>{{_selectedCustomisePizza.pizzaName}} - {{(total * quantity) | currency: 'INR':true}}</h5>
            </div>
        </div>
        <div class="row size">
            <div class="col-lg-12">
                <p>Select Size</p>
            </div>
            <div class="col-lg-12">
                <div (click)="selectedSize = 1;" class="col-lg-3" [ngClass]="{'selectedSizeShadow': selectedSize === 1}"                >
                    <p >Regular - {{customisePizzaMaster.regularPrice | currency: 'INR':true}}</p>
                </div>
                <div (click)="selectedSize = 2" class="col-lg-3" [ngClass]="{'selectedSizeShadow': selectedSize === 2}">
                    <p> Medium - {{customisePizzaMaster.mediumPrice | currency: 'INR':true}}</p>
                </div>
                <div (click)="selectedSize = 3" class="col-lg-3" [ngClass]="{'selectedSizeShadow': selectedSize === 3}">
                    <p> Large - {{customisePizzaMaster.largePrice | currency: 'INR':true}}</p>
                </div>
            </div>

        </div>

        <div class="row veg-toppings">
            <div class="col-lg-12 header">
                <p>Add Veg Toppings </p>
            </div>
            <div class="col-lg-12">
                <p-carousel [value]="customisePizzaMaster.topping" [numVisible]="3" [numScroll]="1">
                    <ng-template let-toppings pTemplate="item">
                        <p>
                            {{toppings.toppingName}}
                        </p>
                        <div>
                            <img src="{{toppings.toppingImageLink}}" alt="Ms dhoni" width="100rem%" height="100rem" />
                        </div>
                        <div class="topping-price">
                            <p>{{toppings.toppingPirce | currency: 'INR':true}}</p>
                        </div>
                        <div class="add-topping">
                            <button type="button" class="btn add-btn" *ngIf="!toppings.isSelected"
                                (click)="toppings.isSelected = !toppings.isSelected">Add</button>
                            <button type="button" class="btn remove-btn" *ngIf="toppings.isSelected"
                                (click)="toppings.isSelected = !toppings.isSelected">Remove</button>

                        </div>

                    </ng-template>
                </p-carousel>
            </div>
        </div>

        <div class="row  crust">
            <div class="col-lg-12 header">
                <p>Select Crust</p>
            </div>
            <div class="col-lg-12">
                <div class="crust-checkbox">
                    <div class="col-lg-3">
                        <p-radioButton name="groupname" value="{{customisePizzaMaster.NewHandTossed}}" label="New Hand Tossed" [(ngModel)]="selectedCrust"></p-radioButton>
                        <p class="crust-price">{{customisePizzaMaster.NewHandTossed | currency: 'INR':true}}</p>
                    </div>
                    <div class="col-lg-3">
                        <p-radioButton name="groupname" value="{{customisePizzaMaster.WheatThinCrust}}" label="Wheat Thin Crust" [(ngModel)]="selectedCrust"></p-radioButton>
                        <p class="crust-price">{{customisePizzaMaster.WheatThinCrust | currency: 'INR':true}}</p>
    
                    </div>
                    <div class="col-lg-3">
                            <p-radioButton name="groupname" value="{{customisePizzaMaster.WheatThikCrust}}" label="Wheat Thin Crust" [(ngModel)]="selectedCrust"></p-radioButton>
                        <p class="crust-price">{{customisePizzaMaster.WheatThikCrust | currency: 'INR':true}}</p>
                    </div>
                    <div class="col-lg-3">
                        <p-radioButton name="groupname" value="{{customisePizzaMaster.FreshPanPizza}}" label="Fresh Pan Pizza" [(ngModel)]="selectedCrust"></p-radioButton>
                        <p class="crust-price">{{customisePizzaMaster.FreshPanPizza | currency: 'INR':true}}</p>
                    </div>
                </div>
               

            </div>
        </div>

        <div class="row extra-cheese">
            <div class="col-lg-6">
                <div class="col-lg-12 header">
                    <p>Extra Cheese </p>
                </div>
                <div class="col-lg-12 extra-cheese-price">
                    <span class="radio">
                        <p-checkbox name="groupname" value="{{extraCheesePrice}}"
                            [(ngModel)]="isExtraCheeseSelected"
                            label="I want extra cheese {{extraCheesePrice | currency: 'INR':true}}"></p-checkbox>

                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12 header">
                    <p>Qantity </p>
                </div>
                <div class="col-lg-12 extra-cheese-price">
                    <button type="button" class="btn minus" [disabled] ="quantity === 1" (click)="quantity = quantity - 1" >-</button>
                    <span class="quantity-value">{{quantity}}</span>
                    <button type="button" class="btn plus" (click)="quantity = quantity + 1" >+</button>
                </div>

            </div>
        </div>

        <div class="row total">
            <div class="col-lg-6 ">
                <div class="price">
                    <p>Sub Total: {{(total * quantity) | currency: 'INR':true}}</p>
                </div>
            </div>
            <div class="col-lg-6" (click)="addCraft()">
                <div class="add-craft">
                    <p>Add to Craft</p>
                </div>
            </div>
        </div>

    </p-dialog>
</div>